/*======GLOBAL STYLING=======*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Myriad-pro", sans-serif;
  font-size: 20px;
  color: #363b52;
  text-align: center;
  line-height: 1.5;
}
/*
main {
}*/

h2 {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 5px;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 30px;
}
h3 {
  margin: 0;
  padding-bottom: 5px;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 30px;
}
h4 {
  text-transform: uppercase;
  /*margin: 0;*/
  color: #363b54;
}

a {
  text-decoration: none;
}

a:link {
  color: #bbb;
}

a:visited {
  color: #bbb;
}

nav,
footer {
  padding: 0% 0;
  background-color: #414245;
  color: #bbb;
}

section {
  min-height: 200px;
  padding: 0% 0;
  margin: 0 auto;
  background-color: #bbb;
}

/*section:nth-child(even) {
  background-color: #ddd;
}*/
/*======End of Global======*/

/*======NAVIGATION SECTION=======*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 60px;
}

ul {
  display: inline-flex;
  float: left;
  list-style: none;
}

nav li {
  padding: 5px;
  margin-right: 3px;
}
.navLi li {
  margin-right: 12px;
  transform: skew(16deg);
  padding: 5px;
}
.navLi li:hover {
  color: #363b54;
  background: #fff;
}

.noSkew {
  transform: skew(-16deg);
}

.noSkew > a:hover {
  color: #363b54;
}

.navContact {
  float: right;
  margin-right: 2%;
}

/*======HEADER SECTION=======*/
header {
  padding: 9% 0;
  background: url(https://user-images.githubusercontent.com/30050423/59303042-e3630580-8c84-11e9-8505-cfe485e72db1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 40%;
  min-width: 300px;
  margin: 90px auto 0 auto;
}

.welcome {
  color: #414245;
  text-transform: uppercase;
  padding-bottom: 200px;
}

/*======ABOUT ME SECTION=======*/
.aboutMe {
  padding-top: 15%;
  overflow: auto;
}

.myPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}
.aboutText {
  padding: 0 5%;
}

.skillsText {
  width: 50%;
  min-width: 300px;
  padding: 1% 5% 0% 5%;
  margin: 0 auto;
}
/*
.pictureImage {
  float: left;
  padding-left: 8%;
  width: 40%;
}
*/

.letsConnect {
  min-width: 300px;
  width: 50%;
  padding: 1% 5% 0% 5%;
  margin: 0 auto;
}

.letsConnect a {
  color: #363b52;
}

.fa:hover {
  color: #e5a038;
}

.fa {
  margin-right: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 10px;
}

.letsConnect > .fa {
  font-size: 50px;
  margin: 10px 5px 10px 5px;
}

.btn {
  display: block;
  font-size: 16px;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  color: #363b52;
}

.btn:hover {
  background: #e5a038;
  color: #414245;
}

/*======PORTFOLIO SECTION=======*/
.portfolio h2 {
  font-family: "Pacifico", cursive;
  font-size: 34px;
  line-height: 1.5;
  padding-bottom: 2%;
}
.portfolio {
  clear: both;
  padding-top: 11%;
}
.project {
  /*display: inline-flex;*/
  background: white;
  padding: 3% 5%;
  width: 90%;
  /*min-height: 610px;*/
  /*min-width: 300px;*/
  margin: 3px auto;
}

.projectImage {
  float: right;
  width: 50%;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.colorscheme {
  clear: right;
  float: right;
  width: 150px;
  margin: 0;
}

.project p {
  text-align: left;
}

.projectLinks {
  display: block;
  /*width: 50%;*/
  margin: 0 auto;
}
.gitLinks {
  clear: both;
  width: 50%;
  margin: 0 auto 5px auto;
  display: flex;
}

.project a {
  color: #363b54;
  border: 1px solid #363b54;
  padding: 8px;
}
.project a:hover {
  color: #fff;
  background: #363b54;
  padding: 8px;
}
/*
.project a:visited {
  color: #fff;
  background: #363b54;
  padding: 8px;
}*/

.photoFiller {
  width: 100%;
}

/*======FOOTER SECTION=======*/

.copyright {
  margin: 0px;
  font-size: 0.6em;
}
.contactMe {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contactMe > .fa {
  padding-bottom: 0px;
}
/*===========================*/

/*======@MEDIA QUERIES (max-with: 767px)=======*/
@media only screen and (max-width: 767px) {
  .pictureImage {
    display: none;
  }
  /*=====TESTING HAMBURGER NAV=======*/
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #414245;
    position: relative;
    max-height: 60px;
  }

  .headline {
    margin-left: 20px;
  }

  .navContact {
    display: none;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav .noSkew {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    /*color: white;
    font-size: 17px;
*/
    text-decoration: none;
    display: block;
  }
  /* Style the hamburger menu */
  .topnav a.hamburger {
    /*background: black;
    */
    position: absolute;
    display: block;
    right: 10;
    top: 10;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #e5a038;
    color: black;
  }

  /* Style the active link (or home/logo) */
  /*
  .active {
    background-color: #414245;
    color: black;
  }*/

  /*===========================*/
}
/*==============================================*/

/*======@MEDIA QUERIES (min-width: 768px)=======*/
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  /*=================*/
  .aboutMe {
    padding-top: 10%;
  }

  .aboutText {
    float: left;
    width: 50%;
  }

  .skillsText {
    width: 50%;
    float: left;
  }

  .letsConnect {
    float: right;
    margin: 10px auto 0 auto;
  }

  .letsConnect > .fa {
    font-size: 50px;
    margin: 10px 10px 20px 10px;
  }

  .letsConnect > h4 {
    margin: 20px 5px 10px 5px;
  }

  .pictureImage {
    float: left;
    /*margin-top: -10px;*/
    width: 40%;
    padding-left: 8%;
    margin-right: 8%;
  }

  .portfolio {
    clear: both;
    padding-top: 5%;
    width: 100%;
    float: left;
  }

  .portfolio > h2 {
    font-size: 48px;
    line-height: 1.5;
    padding-bottom: 2%;
  }
  .project {
    width: 45%;
    float: left;
    margin: 3px;
    min-height: 638.9px;
  }
  .projectContainer {
    margin-left: 40px;
  }

  .projectLinks {
    clear: both;
  }

  footer {
    clear: both;
  }
}

/*==============================================*/

/*======@MEDIA QUERIES (min-width: 992px)=======*/
@media only screen and (min-width: 992px) {
  .aboutMe {
    padding-top: 9%;
  }
  .pictureImage {
    clear: left;
    float: left;
    width: 40%;
    padding-left: 8%;
    margin-right: 8%;
    /*margin-top: -110px;*/
  }
  .portfolio {
    padding-top: 5%;
  }
  .portfolio > h2 {
    font-size: 48px;
  }

  .projectContainer {
    margin-left: 80px;
  }
}

/*==============================================*/

/*======@MEDIA QUERIES (min-width: 1200px)=======*/

@media only screen and (min-width: 1200px) {
  .aboutMe {
    padding-top: 6%;
  }

  .pictureImage {
    float: left;
    width: 40%;
    padding-left: 8%;
    margin-right: 8%;
    /*margin-top: -110px;*/
  }

  .letsConnect {
    float: right;
  }

  .portfolio {
    padding-top: 3%;
  }

  .projectContainer {
    margin-left: 70px;
  }

  .project {
    width: 31%;
    height: 679px;
  }
}

/*==============================================*/
